<%- include ('header') -%>
<%- include ('style') -%>
<h1>Error happened!</h1>

<p style="color:red; font:bolder;">

    <%= errors %>
</p>
<a href="/gui/v1/posts">Click here to return!</a>
<%- include('footer') -%>