<p>Src Code:https://github.com/mukoedo1993/mysql-nodejs-api </p>
<footer class="border-top text-center small text-muted py-3">
    <p class="m-0">Copyright &copy; <%= new Date().getFullYear() %> <a href="mailto: zwang2@wvstateu.edu" class="text-muted">Tom W. (Send feedback here) </a>. All rights reserved. Author: Tom W(mukoedo1993).</p>
  </footer>

</body>
</html>